In [1]:
import h5py
import pandas as pd
import numpy as np
import pickle

In [2]:
def create_csv_hetero():
    data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 22, 28],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston'],
    'Income': [55000, 65000, 48000, 70000],
    'IsStudent': [False, False, True, False]
}
    
    df = pd.DataFrame(data)
    df.to_csv('build/sample.csv', index=False)

In [5]:
def create_csv_hetero(num_rows,filename):
    data = {
    'IntegerColumn': np.random.randint(1, 1000, size=num_rows),
    'FloatColumn': np.random.rand(num_rows),
    'StringColumn': [''.join(np.random.choice(list('abcdefghijklmnopqrstuvwxyz'), size=10)) for _ in range(num_rows)],
    'BooleanColumn': np.random.choice([True, False], size=num_rows)
    }
    df = pd.DataFrame(data)
    df.to_csv('build/{}.csv'.format(filename), index=False)

In [4]:
def create_csv_homogenous(num_rows, num_columns,filename):
    data = np.random.rand(num_rows, num_columns)
    column_names = [f'Column_{i+1}' for i in range(num_columns)]
    df = pd.DataFrame(data, columns=column_names)
    df.to_csv('build/{}.csv'.format(filename), index=False)

In [56]:
num_rows = 100
num_columns = 5
filename = 'sample_csv{}_{}'.format(num_rows,num_columns)
create_csv_homogenous(num_rows,num_columns,filename)

In [6]:
#create_sample_csv1()
num_rows = 100
filename = 'hetero_csv{}'.format(num_rows)
create_csv_hetero(num_rows,filename)

In [7]:
df = pd.read_csv('build/{}.csv'.format(filename))
#df

In [8]:
df.to_hdf('build/{}.h5'.format(filename), key='data', mode='w',format='table')

In [60]:
df.to_pickle('build/{}.pkl'.format(filename))

In [61]:
!ls -lh build/

total 16M
-rw-r--r-- 1 vscode vscode 2.1K Jan  3 12:16 file5.hdf5
-rw-r--r-- 1 vscode vscode  39K Jan  3 14:13 hetero_csv1000.csv
-rw-r--r-- 1 vscode vscode 1.1M Jan  3 14:13 hetero_csv1000.h5
-rw-r--r-- 1 vscode vscode  31K Jan  3 14:13 hetero_csv1000.pkl
-rw-r--r-- 1 vscode vscode 3.8M Jan  3 14:18 hetero_csv100000.csv
-rw-r--r-- 1 vscode vscode 4.7M Jan  3 14:18 hetero_csv100000.h5
-rw-r--r-- 1 vscode vscode 2.9M Jan  3 14:18 hetero_csv100000.pkl
-rw-r--r-- 1 vscode vscode  151 Jan  3 12:51 sample.csv
-rw-r--r-- 1 vscode vscode 1.1M Jan  3 12:59 sample.h5
-rw-r--r-- 1 vscode vscode 942K Jan  3 13:37 sample_csv10000_5.csv
-rw-r--r-- 1 vscode vscode 476K Jan  3 13:37 sample_csv10000_5.h5
-rw-r--r-- 1 vscode vscode 392K Jan  3 13:47 sample_csv10000_5.pkl
-rw-r--r-- 1 vscode vscode  95K Jan  3 14:18 sample_csv1000_5.csv
-rw-r--r-- 1 vscode vscode  54K Jan  3 13:47 sample_csv1000_5.h5
-rw-r--r-- 1 vscode vscode  40K Jan  3 13:48 sample_csv1000_5.pkl
-rw-r--r-- 1 vscode vscode  427 Jan  3 13:16 sample_csv4_5.csv
-rw-r--r-- 1 vscode vscode 6.9K Jan  3 13:16 sample_csv4_5.h5

In [39]:
with open('build/{}.pkl'.format(filename)) as f:
    bd = pickle.load(f)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x80 in position 0: invalid start byte

In [40]:
pd.read_pickle('build/{}.pkl'.format(filename))

     Column_1  Column_2  Column_3  Column_4  Column_5
0    0.900333  0.150942  0.407577  0.211893  0.368580
1    0.054581  0.666134  0.962131  0.102901  0.996091
2    0.908334  0.355111  0.388780  0.440374  0.116547
3    0.350226  0.832670  0.695557  0.228970  0.350325
4    0.589626  0.785175  0.205125  0.930532  0.941881
..        ...       ...       ...       ...       ...
995  0.749964  0.606144  0.237585  0.890973  0.289110
996  0.763569  0.819841  0.163382  0.369245  0.494385
997  0.190616  0.765322  0.240649  0.779353  0.300835
998  0.234305  0.844017  0.340665  0.032142  0.969102
999  0.169051  0.808021  0.842930  0.800420  0.206306

[1000 rows x 5 columns]